<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" routerLink="/home"><img src="assets/images/logo.png" alt="logo image" class="img-fluid"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/home">Startseite</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Leistungen 
            </a>
            <div class="dropdown-menu shadow-sm" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLinkActive="active" routerLink="/ghostwriting">Ghostwriting</a>
                <a class="dropdown-item" routerLinkActive="active" routerLink="/proofreading">Korrektorat</a>
                <a class="dropdown-item" routerLinkActive="active" routerLink="/Lektorat">Lektorat</a>
                <a class="dropdown-item" routerLinkActive="active" routerLink="/plagiarism">Plagiatsprüfung</a>
                <a class="dropdown-item" routerLinkActive="active" routerLink="/translation">Übersetzung</a>
                <a class="dropdown-item" routerLinkActive="active" routerLink="/formatting">Formatierung</a>
            </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/prices">Preise</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/blog">blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/author">Autor werden</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/inquire">Jetzt anfragen</a>
            </li>
        </ul>
        </div>
    </div>
  </nav>