
.navbar-brand{
    max-width: 125px;
    display: inline-block;
    &:hover{
        opacity: .6;
    }
}

.navbar-light{
    background: var(--bg-white);
    box-shadow: 0px 3px 6px var(--black-3);
    position: relative;
    z-index: 20;
    
    .navbar-toggler{
        border:none;
        outline: none;
    }
    .navbar-nav{
        .nav-link{
            font-size: 14px;
        }
    }
}

.navbar-expand-lg{
    .navbar-nav{
        .nav-link{
            padding-left: .8rem;
            padding-right: .8rem;
            color: var(--gray-1);

            &.active{
                color: var(--blue-1);
            }
        }
    }
}

.dropdown-menu{
    border-radius: 0;
    font-size: 14px;
    border:0;   
    padding: 0;

    .dropdown-item{
        padding: .48rem 1.2rem;
        border-bottom: 1px solid var(--gray-2);
        color:var(--black-2);
        background-color: var(--white-1);
        
        &:hover{
            background-color: var(--gray-2);
        }

        &.active{
            color: var(--blue-1);
            background-color: var(--gray-2);
        }
    }
}

@media(max-width:991px){
    .navbar-collapse{
        position: absolute;
        top:67px;
        left: 0;
        width: 100%;
        background: var(--white-1);
    }

    .navbar-nav{
        .nav-link{
           border-bottom:1px solid var(--gray-2);
           padding: 12px 20px;
        }
    }

    .dropdown-menu{
        border-width: 0;
        padding: 0;
    
        .dropdown-item{
            padding: 12px 1.2rem;
            border-bottom: 1px solid var(--gray-2);
        }
    }
    
}