

footer{
    background: var(--blue-1);

    h6{
        color: rgb(255, 255, 255, .6);
    }

    .footer-logo{
        display: inline-block;
        max-width: 125px;
    }
    .footer-links{
        padding-left: 0;
        list-style: none;

        li{
            a{
                position: relative;
                display: inline-block;
                padding: 10px 0 10px ;
                font-size: 16px;
                color: rgb(255, 255, 255, .6);
                text-decoration: none;
                transition: all 0.5s ease-out;

                &:hover{
                    color: rgb(255, 255, 255, 1);
                }
            }

           
        }
    }


    address{
        span{
            display: block;
           color: rgb(255, 255, 255, .6);
        }
    }

    .secondary-footer{
        border-top:1px solid rgba(85, 221, 253, .4);
        p{
            color: rgb(255, 255, 255, .6);
        }
    }


    .scroll-btn{
        display:block;
        width: 40px;
        height: 40px;
        line-height: 36px;
        background: rgba(146, 146, 146, .8);
        border-radius: 4px;
        position: fixed;
        right: 20px;
        bottom: 40px;
        text-align: center;
        cursor: pointer;
        font-size: 12px;
        display: none;
    }
}