
<footer class="pt-5">
    <div class="container pb-5 pt-4">
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-0">
                <a class="footer-logo"><img src="assets/images/logo.png" alt="logo" class="img-fluid"></a>
            </div>
            <div class="col-md-4 pt-2 pt-md-0 mb-2 mb-md-0">
                <h6 class="text-uppercase text-white fontweight-light">Informationen</h6>
                <ul class="footer-links">
                    <li><a routerLinkActive="active" routerLink="/imprint">Impressum</a></li>
                    <li><a routerLinkActive="active" routerLink="/privacy">privacy</a></li>
                    <li><a routerLinkActive="active" routerLink="/condations">AGB</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h6 class="text-uppercase text-white fontweight-light mb-3">KONTAKTIEREN SIE UNS</h6>
                <ul class="contact-info-widget list-unstyled">
                    <li class="d-flex"><i class="fa fa-map-marker"></i><div><span class="fontweight-medium d-block">Address:</span><span>Webergasse 30, 65183 Wiesbaden</span></div></li>
                    <li class="d-flex"><i class="fa fa-phone"></i><div><span class="fontweight-medium d-block">Phone:</span><a href="tel:+49 1512 0175 803"><span class="oceanwp-contact-text">+49 1512 0175 803</span></a></div></li>
                    <li class="d-flex"><i class="fa fa-envelope-o"></i><div><span class="fontweight-medium d-block">Email:</span><span><a href="mailto:info@ghostsolutions.de">info@ghostsolutions.de</a></span></div></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="secondary-footer py-3"></div>
</footer>
