.customeform-section{
    .form-group{
        margin-bottom: 30px;
        label{
            font-size: 14px;
            color:var(--gray-1);
        }
        .form-control{
            font-size: 16px;
            color:var(--gray-1);
            &:focus{
                box-shadow: none;
            }
        }
    }
}

.inputnumber-width{
    width: 100px;
}

.controlfile{
    font-size: 14px;
}


.form-group {
    position: relative;
    .invalid-feedback{
        position: absolute;
        bottom: -20px;
        font-size: 12px;
    }
}
.form-control.is-invalid{
    background-image: none;
}