:root{

    // --bg-white: #ffffff;
    // --bg-black: #000000;
    // --bg-black-2: #333333;
    // --bg-black-3: #1b1b1b;
    // --bg-blue-1: #4B81D6;

    // --white: #ffffff;
    // --black: #000000;
    // --gray-1: #929292;
    // --gray-4: #f4f6f7;
    // --gray-5: #e0dbdb;
    // --blue-1: #4B81D6;

    --white-1: #ffffff;
    --black-1: #000000;
    --black-2: #333333;
    --black-3: #00000029;
    --gray-1: #707070;
    --gray-2: #f4f6f7;
    --blue-1: #4B81D6;
    --blue-2: #2D4D80;
    --syan-1: #55DDFD;


}