:root{
    --white-1: #ffffff;
    --black-1: #000000;
    --black-2: #333333;
    --black-3: #00000029;
    --gray-1: #707070;
    --gray-2: #f4f6f7;
    --gray-3: #ACACAC;
    --blue-1: #4B81D6;
    --blue-2: #2D4D80;
    --syan-1: #55DDFD;
}