



h1{
    font-size: 44px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 26px;
}

h4{
    font-size: 20px;
}

h5{
    font-size: 18px;
}

h6{
    font-size: 16px;
}


.fontweight-light{
    font-weight: 300;
}
.fontweight-normal{
    font-weight: 400;
}
.fontweight-medium{
    font-weight: 600;
}
.fontweight-bold{
    font-weight: 700;
}




