



h1, h2{
    font-size: 44px;
}


h3{
    font-size: 28px;
}

h4{
    font-size: 20px;
}

h5{
    font-size: 18px;
}

h6{
    font-size: 16px;
}


h1, h2, h3, h4, h5, h6{
    color: var(--black-2);
    font-weight: 600;
}


p{
    color: var(--gray-1);
}



@media(max-width:767px){

    h1, h2{
        font-size: 32px;
    }
}


.fontweight-light{
    font-weight: 300;
}
.fontweight-normal{
    font-weight: 400;
}
.fontweight-medium{
    font-weight: 600;
}
.fontweight-bold{
    font-weight: 700;
}


.lineheight-2{
    line-height: 2;
}
.lineheight-15{
    line-height: 1.5;
}
.lineheight-14{
    line-height: 1.4;
}



