
$mediumDevice:991px;
$smallDevice:767px;
$extraSmall:575px;


.banner-section{
    background: url('../../assets/images/banner_cover.png') right top no-repeat;
    background-size: cover;
    padding: 239px 0;

    h1{
        font-size: 98px;
        margin-bottom: 40px;
    }
    p{
        font-size: 35px;
    }

    @media(max-width:$mediumDevice){

        padding: 100px 0;

        h1{
            font-size: 62px;
            margin-bottom: 20px;
        }
        p{
            font-size: 22px;
        }
    }

    @media(max-width:$extraSmall){
        padding: 80px 0;

        h1{
            font-size: 32px;
        }
        p{
            font-size: 18px;
        }
    }
}


.description-section{
    background: url('../../assets/images/flw_icon2.svg'), url('../../assets/images/plus_group.svg');
    background-repeat:no-repeat, no-repeat;
    background-position:0 150px, 100% 45%;
    background-size:10% 20%;

    @media(max-width:$smallDevice){
        background-position: 0% 30px, 100% 38%;
    }
}


.services-section{
    
    .services-card{
        background: var(--white);
        border-radius: 24px;
        box-shadow: 0px 0px 10px var(--black-3);
        height: 100%;
        span{
            display: block;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 18px;
        }
        .services-icon1{
            background:rgba(255, 199, 195, 0.3);
        }
        .services-icon2{
            background: rgba(75, 129, 214, 0.3);
        }
        .services-icon3{
            background: rgba(85, 221, 253, 0.3);
        }
        .services-icon4{
            background: rgba(247, 189, 44, 0.3);
        }

        &:hover{
            background-color: var(--blue-1);
            p, h6{
                color: var(--white);
            }
            span{
                background: var(--white);
            }
        }
    }

}


.aside-nav{
    li{
        margin-bottom: 15px;
        .nav-link{
            position: relative;
            display: block;
            border: 1px solid #656565;
            border-radius: 5px;
            font-size: 16px;
            color:var(--black-2);
            padding: 1.2rem 1rem;
            background: var(--white);

            &::after{
                content: '';
                display: inline-block;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background: var(--white);
                border: 1px solid #656565;
                position: absolute;
                right: 15px;
                top:50%;
                margin-top: -7px;
                
            }

            &:hover, &.active{
                background: var(--blue-1);
                color:var(--white);
                border-color: var(--blue-1);

                &::after{
                    border-color: var(--blue-1);
                }
            }
        }
    }
}



.goals-section{
    background: var(--blue-2);
}