<section class="banner mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center fontweight-medium text-white mb-0">Ghostwriting - Die Texterstellung</h1>
            </div>
        </div>
    </div>
</section>

<section class="container py-5">
        <h3 class="fontweight-bold mb-4">Leistungsbeschreibung</h3>
        <p class="lineheight-2">
            Akademisches Ghostwriting umfasst die komplette oder teilweise Anfertigung von wissenschaftlichen Artikeln, Dissertationen, Hausarbeiten, Bachelorarbeiten oder Masterarbeiten. Dabei ist es unerlässlich, dass ein Ghostwriter diskret mit dem Kunden in Verbindung steht, kompetent im jeweiligen Fachbereich ist und zuverlässig die Bearbeitungsfrist einhält. Diese Kernwerte stellen für uns und unsere Autoren die drei Säulen unseres Erfolges dar. GhostSolutions lebt von Qualität und zufriedenen Kunden.
        </p>
        <p class="lineheight-2">
            Mit einer Vielzahl von freiberuflichen akademischen Autoren bietet GhostSolutions Ihnen eine der hochwertigsten Dienstleistungen im wissenschaftlichen Ghostwriting an. Neben den Grundlagen des wissenschaftlichen Arbeitens verfügen unsere Autoren über geprüftes Fachwissen und gehobene sprachliche Fähigkeiten. Durch ein eigens von GhostSolutions eingeführtes Auswahlverfahren und eine strikte Selektion unserer Autoren, können wir eine hohe Qualität unserer Dienstleistung versprechen.
        </p>
        <p class="lineheight-2">
            Dabei bestimmen Sie selbst, zu welchem Grad Sie die Erstellung ihres wissenschaftlichen Textes beeinflussen. Grundsätzlich erfolgt die Lieferung ihres Textes in Teillieferungen, sodass Sie nach jeder Teillieferung die Möglichkeit haben Feedback zu geben. Dieser Prozess sorgt dafür, dass der Text ganz nach ihren Vorstellungen gestaltet wird. 
        </p>
</section>


<section class="promise-section py-5">
    <div class="container pt-md-4 pb-md-5">
       <h2 class="text-white text-center fontweight-medium mb-5">Unser Qualitätsversprechen</h2>
    
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4 mb-md-0">
              <div class="card px-2 py-5 promise shadow-lg text-center h-100">
                <span class="mx-auto mb-2"><img src="assets/images/unbenannt.png" class="img-fluid" alt="Unbenannt"></span>
                <div class="card-body">
                  <h5 class="card-title text-uppercase fontweight-medium">Diskretion</h5>
                  <p class="card-text lineheight-2">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col mb-4 mb-md-0">
                <div class="card px-2 py-5 promise shadow-lg text-center h-100">
                  <span class="mx-auto mb-2"><img src="assets/images/unbenannt2.png" class="img-fluid" alt="Pünktlichkeit"></span>
                  <div class="card-body">
                    <h5 class="card-title text-uppercase fontweight-medium">Pünktlichkeit</h5>
                    <p class="card-text lineheight-2">Sie erhalten die vereinbarten Leistungen pünktlich zu dem vorher abgestimmten Termin und selbstverständlich nach Ihren individuellen Vorgaben formatiert. Dies trifft auch auf Teillieferungen zu, welche Sie selbst festlegen können.</p>
                  </div>
                </div>
            </div>
            <div class="col mb-4 mb-md-0">
                <div class="card px-2 py-5 promise shadow-lg text-center h-100">
                  <span class="mx-auto mb-2"><img src="assets/images/kompetenz.png" class="img-fluid" alt="Kompetenz"></span>
                  <div class="card-body">
                    <h5 class="card-title text-uppercase fontweight-medium">Kompetenz</h5>
                    <p class="card-text lineheight-2">GhostSolutions bietet jedem Kunden den Zugang zu Experten aus verschiedenen Fachrichtungen an. Die für Sie erstellten Arbeiten werden schließlich dem Qualitätsmanagement vorgelegt, um den für Sie höchstmöglichen Standard gewährleisten zu können.</p>
                  </div>
                </div>
            </div>
          </div>
    </div>
</section>


<section class="work-section">
    <div class="container work-item">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <q class="text-white">Arbeit, Studium, Verein, Freunde und Familie. Wenn alles zusammen kommt, bleibt manchmal einfach keine Zeit für das Schreiben. Ich bin dankbar, dass ich die Hilfe von akademischen Experten in Anspruch nehmen kann. Dadurch kann ich mich besser organisieren und bekomme mehr erledigt.</q>
                
                <div class="pt-5">
                    <a routerLink="/home" class="btn btn-primary">Jetzt anfragen <span class="btnairro">&#x2192;</span></a>
                </div>
            </div>
        </div>
    </div>
</section>