
<section class="description-section pt-md-4 mb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="mb-5">
                    <h2 class="mb-5">Proofreading of services</h2>
                    <p class="mb-4">In the academic world, plagiarism is considered the non-plus ultra of intellectual theft. Plagiarism is understood as the adoption of someone else’s thoughts without identifying them as those. Plagiarism scandals that have become popular show the consequences of such an unmarked takeover. In doing so, plagiarism does not have to be done consciously: Since scientific texts necessarily rely on the integration of external sources, in spite of great care, unwanted transfer of third-party content without any labeling is possible.</p>
                    <p class="mb-4">In order to avoid plagiarism, it is advisable to subject written texts to a plagiarism check. This can be done on the one hand on the basis of the most modern plagiarism scanners and on the other hand on the basis of a manual plagiarism check. In any case, you should protect yourself against unpleasant surprises by checking your own work for possible plagiarism before submitting it. We are happy to be at your disposal here to guide you safely to your goal in the last few meters of your academic success!</p>
                </div>

                <section class="services-section mb-4">
                    <div class="container py-4"> 
                      <h2 class="mb-4">Our promise of quality</h2>
                      <div class="row pt-2">
                        <div class="col-md-4 mb-4 mb-md-0">
                          <div class="services-card px-3 pt-4 pb-3">
                          <span class="services-icon1"><img src="assets/images/alarm.png" alt="Alarm Icon"></span>
                            <h6 class="mb-3">Discretion</h6>
                            <p>As part of our work, you as a GhostSolutions customer enjoy the highest level of discretion and anonymity. We would be happy to enable you to work together under a fantasy name.</p>
                          </div>
                        </div>
                        <div class="col-md-4 mb-4 mb-md-0">
                          <div class="services-card px-3 pt-4 pb-3">
                            <span class="services-icon3"><img src="assets/images/anonymous.png" alt="Anonymous Icon"></span>
                          <h6 class="mb-3">Punctuality</h6>
                            <p>You will receive the agreed services punctually at the previously agreed date and of course formatted according to your individual specifications. This also applies to partial deliveries, which you can determine yourself.</p>
                          </div>
                        </div>
                        
                        <div class="col-md-4 mb-4 mb-md-0">
                            <div class="services-card px-3 pt-4 pb-3">
                              <span class="services-icon2"><img src="assets/images/skills.png" alt="Skills Icon"></span>
                              <h6 class="mb-3">Competence</h6>
                              <p>Medicrates offers every customer access to experts from various fields. The work created for you is finally submitted to quality management in order to guarantee the highest possible standard for you.</p>
                            </div>
                        </div>
                        
                      </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

