<div class="padding-20">
    <section class="price-section pb-3">
        <div class="container pt-5 pb-5">
            <!-- <div class="row pt-md-3">
                <div class="col-lg-8 offset-lg-2">
                    <div class="text-center pb-4">
                        <h1 class="first-caps pb-4">All You Need to know about US</h1>
                        <p class="mb-0">Discreet. Reliable. Competently.</p>

                    </div>
                </div>
            </div> -->

            <div class="row mb-3" style="align-items: center;">
                <div class="col-md-6 mb-4 mb-md-0">
                    <div class="">
                        <span class="mr-3">
                            <img class="img-fluid" src="../../assets/images/integrify.jpg"></span>
                    </div>
                </div>
                <div class="col-md-6 mb-4 mb-md-0" style="padding-left: 40px;">
                    <h1>Integrify Business Service LLP</h1>
                    <p class="mr-3 common-para text-justify">
                        Integrify Business Services LLP (Previously known as Qual Data) is
                        Background Screening/Verification and HR risk Management Company
                        specialized in providing a wide range of professional services from
                        pre-employment to post-employment screening catering to the
                        fast-growing IT, ITES, Banking, Insurance and other industries in India.
                    </p>




                </div>
            </div>

            <section className="about-section-2 mt-3">
                <div className="container">
                    <div className="row">
                        <div className="col-md-12">
                            <div className="about-section-2-header">
                                <h3 className="common-heading">Who We Are</h3>
                            </div>
                        </div>
                    </div>
                    <div className="row">
                        <div className="col-md-8 mx-auto">
                            <p className="common-para ">
                                Integrify Business Services LLP was founded by a group of professionals having more than
                                15 years of experience in Background screening industry with a vision to provide
                                specialized screening solutions to its clients. We provide solutions and insights that
                                enable employers to make a confident choice and maintain compliance.
                                Integrify Business Services LLP enables organizations to pursue their business goals and
                                objectives in a safe and secured environment by providing Comprehensive background
                                verification Services. We provide solutions and insights that enable employers to make
                                confident choices, reduce risk, and maintain compliance.

                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section className="about-section-2 mt-3">
                <div className="container">
                    <div className="row">
                        <div className="col-md-12">
                            <div className="about-section-2-header">
                                <h3 className="common-heading">Our Vision</h3>
                            </div>
                        </div>
                    </div>
                    <div className="row">
                        <div className="col-md-8 mx-auto">
                            <p className="mr-3 common-para text-justify">
                                Integrify Business Service LLP vision is to provide superior client-focused and cost-effective solutions along with
                                a comprehensive portfolio of screening searches and verifications for our clientele.

                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section className="about-section-2 mt-3">
                <div className="container">
                    <div className="row">
                        <div className="col-md-12">
                            <div className="about-section-2-header">
                                <h3 className="common-heading">Our Objective</h3>
                            </div>
                        </div>
                    </div>
                    <div className="row">
                        <div className="col-md-8 mx-auto">
                            <p className="mr-3 common-para text-justify">
                                Background checks are an indispensable component of any employee screening mechanism,
                                and they are gaining mainstream acceptance worldwide given the fact that up to most of
                                all job seekers admit to falsifying crucial details on their applications.
                                Our mission is to put the checks in place to assure the company on behalf of whom the
                                process has been initiated that the candidate they’re looking to hire isn’t just well
                                suited to the job at hand, but even whether they are who they say they are.


                            </p>
                            <ul style="padding-left: 16px;">
                                <li>
                                    <p  className="mr-3 common-para text-justify">Honoring all our commitments.</p>
                                </li>
                                <li>
                                    <p  className="mr-3 common-para text-justify">Providing customized & Tailor-made solutions..</p>
                                </li>
                                <li>
                                    <p  className="mr-3 common-para text-justify">Ethical & Transparent dealings.</p>
                                </li>
                                <li>
                                    <p  className="mr-3 common-para text-justify">Exceeding delivery expectations.</p>
                                </li>
                                <li>
                                    <p  className="mr-3 common-para text-justify">Providing high quality output.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <!-- <div class="row">
                <div class="col-md-4 mb-4 mb-md-0" *ngFor="let item of priceContent?.rateList">
                    <div class="price-card">
                        <div class="price-head d-flex align-items-center mb-5">
                            <span class="mr-3"><img [src]="'https://squidex.it-blue.net/api/assets/medicrates/'+item.icon[0]"></span>
                            <h4 class="title mb-0">{{item.heading}}</h4>
                        </div>
    
                        <div class="price-body text-center mb-5" [innerHtml]="item.rate">
                           <h2 class="title"> <sup>&euro;</sup> 10 <sub>/page</sub></h2>
                        </div>
                        <div class="text-center"> <a routerLink="/inquire" class="btn btn-primary">{{priceContent?.inquireNowBtnTitle}}</a></div>
                    </div>
                </div>
            </div> -->

        </div>
    </section>
</div>