
$smallDevice:767px;

.price-section{
    background: url('../../assets/images/flw_icon2.svg'), 
    url('../../assets/images/plus_group.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 50px, 96% 100%;
    background-size:12%, 24%;

    @media(max-width:$smallDevice){
        background-position: 0% 30px, 100% 38%;
    }
}


.price-card{
    border:1px solid var(--gray-3);
    background: var(--white);
    border-radius: 5px;
    padding: 32px 25px 35px;

    .price-head{
        span{
            display: inline-block;
            width: 64px;
        }
    }
    .btn-primary{
        min-width: auto;
        max-width: 200px;
        width: 100%;
    }
    .price-body{
        .title{
            position: relative;
            sub, sup{
                font-weight: 400;
            }
            sub{
                font-size: 18px;
                color:var(--gray-1);
            }
            sup{
                font-size: 18px;
                color:var(--gray-1);
                position: relative;
                top: -25px;
            }
        }
    }
}

.common-para {
    font-weight: 400;
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
    padding-top: 10px;
    font-family: Lato, sans-serif;
    letter-spacing: .35px;
}

.text-justify {
    text-align: justify !important;
}

.about-section-2
{
    background: #F7F7F7;
    padding: 60px 0 80px 0;
}
.about-section-2 .about-section-2-image img
{
    height: 250px;
    width: 100%;
    object-fit: cover;
}