<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center fontweight-medium text-white mb-0">Preise bei GhostSolutions</h1>
            </div>
        </div>
    </div>
</section>



<section class="container py-5">
    <div class="py-5">
        <h2 class="heading-bottom-text fontweight-medium text-center mb-5">Was kostet mein Auftrag?</h2>
    </div>

    <p class="lineheight-2 mb-4">
        Grundsätzlich hat jede akademische Arbeit einen individuellen Preis. Dies ist liegt daran, dass jede Arbeit spezifische Anforderungen hat, die sich nicht allgemein bepreisen lassen. Nähere Informationen lassen sich in unserem Blogpost zur Preisberechnung von Abschlussarbeiten nachlesen. Nichtsdestotrotz haben wir nachfolgend exemplarisch eine Preisübersicht aufgestellt, welche die üblichen Kosten für Hausarbeiten, Bachelorarbeiten und Masterarbeiten abbildet. Um ein genaues und individuelles Preisangebot anzufordern, steht Ihnen das Anfrageformular zur Verfügung. 
    </p>
    <p class="lineheight-2">
        Für die Zahlung bietet ihnen GhostSolutions darüber hinaus auch die <span class="fontweight-medium">flexible Ratenzahlung an, ohne dass ein Aufschlag</span> auf den Gesamtpreis hinzugerechnet wird! 
    </p>
</section>


<section class="container py-5">
    <div class="pb-5">
        <h2 class="heading-bottom-text fontweight-medium text-center mb-5">Exemplarische Preise</h2>
    </div>

    <div class="row mb-5 pb-5">
        <div class="col-12">
            <h4 class="fontweight-bold mb-4">Längerfristige Aufträge:</h4>
        </div>
       <div class="col-12">
            <div class="row pt-2">
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="card pricelist shadow bg-primary border-0 text-white">
                        <h6 class="mx-auto fontweight-bold text-uppercase mb-4">Hausarbeit</h6>
                        <ul class="list-unstyled mx-auto pl-0">
                            <li>Leistung: Ghostwriting</li>
                            <li>Fach: Mikroökonomie</li>
                            <li>Umfang: 15 Seiten</li>
                            <li>Frist: 5 Wochen</li>
                        </ul>
                        <h2 class="fontweight-bold text-center">1.200,00€</h2>
                    </div>
                </div>
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="card pricelist shadow border-0">
                        <h6 class="mx-auto fontweight-bold text-uppercase mb-4">BAchelorarbeit</h6>
                        <ul class="list-unstyled mx-auto pl-0">
                            <li>Leistung: Ghostwriting</li>
                            <li>Fach: Rechnungswesen</li>
                            <li>Umfang: 40 Seiten</li>
                            <li>Frist: 12 Wochen</li>
                        </ul>
                        <h2 class="fontweight-bold text-center">3.400,00€</h2>
                    </div>
                </div>
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="card pricelist shadow bg-primary border-0 text-white">
                        <h6 class="mx-auto fontweight-bold text-uppercase mb-4">Masterarbeit</h6>
                        <ul class="list-unstyled mx-auto pl-0">
                            <li>Leistung: Ghostwriting</li>
                            <li>Fach: Makroökonomie</li>
                            <li>Umfang: 40 Seiten</li>
                            <li>Frist: 12 Wochen</li>
                        </ul>
                        <h2 class="fontweight-bold text-center">3.900,00€</h2>
                    </div>
                </div>
            </div>
       </div>
    </div>

    <div class="row mb-4 mb-md-5">
        <div class="col-12">
            <h4 class="fontweight-bold mb-4">Mittelfristige Aufträge:</h4>
        </div>
       <div class="col-12">
            <div class="row pt-2">
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="card pricelist shadow border-0">
                        <h6 class="mx-auto fontweight-bold text-uppercase mb-4">Hausarbeit</h6>
                        <ul class="list-unstyled mx-auto pl-0">
                            <li>Leistung: Ghostwriting</li>
                            <li>Fach: Marketing</li>
                            <li>Umfang: 15 Seiten</li>
                            <li>Frist: 1 Woche</li>
                        </ul>
                        <h2 class="fontweight-bold text-center">1.350,00€</h2>
                    </div>
                </div>
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="card pricelist shadow border-0 bg-primary text-white">
                        <h6 class="mx-auto fontweight-bold text-uppercase mb-4">Bachelorarbeit</h6>
                        <ul class="list-unstyled mx-auto pl-0">
                            <li>Leistung: Ghostwriting</li>
                            <li> Fach: Finance</li>
                            <li>Umfang: 40 Seiten</li>
                            <li> Frist: 3 Wochen</li>
                        </ul>
                        <h2 class="fontweight-bold text-center">3.650,00€</h2>
                    </div>
                </div>
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="card pricelist shadow border-0">
                        <h6 class="mx-auto fontweight-bold text-uppercase mb-4">Masterarbeit</h6>
                        <ul class="list-unstyled mx-auto pl-0">
                            <li>Leistung: Ghostwriting</li>
                            <li> Fach: Logistik</li>
                            <li>Umfang: 50 Seiten</li>
                            <li>Frist: 4 Wochen</li>
                        </ul>
                        <h2 class="fontweight-bold text-center">4.500,00€</h2>
                    </div>
                </div>
            </div>
       </div>
    </div>
    
    <div class="text-center pt-lg-3 pb-md-5">
        <a routerLink="/home" class="btn btn-primary">Jetzt anfragen <span class="btnairro">&#x2192;</span></a>
    </div>
   
</section>
