
$smallDevice:767px;

.price-section{
    background: url('../../assets/images/flw_icon2.svg'), 
    url('../../assets/images/plus_group.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 50px, 96% 100%;
    background-size:12%, 24%;

    @media(max-width:$smallDevice){
        background-position: 0% 30px, 100% 38%;
    }
}

.form-check-inline{
    .form-check-label{
        color: var(--gray-1) !important;
    }
    .form-check-input{
        margin-right: 12px;
    }
}