<section class="banner mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center fontweight-medium text-white mb-0">Ihre Bewerbung bei GhostSolutions</h1>
            </div>
        </div>
    </div>
</section>

<section class="container mb-5">
    <div class="row mb-5">
        <div class="col-12">
            <div class="pb-4">
                <h4 class="fontweight-bold mb-4">Willkommen an Bord!</h4>
                <p class="lineheight-2">Wir bei GhostSolutions freuen uns über neue Bewerbungen von kompetenten Akademikern!  Unser Team ist ständig auf der Suche nach Talenten, die den Ansprüchen des wissenschaftlichen Schreibens gerecht werden. Suchen Sie eine freiberufliche Tätigkeit als akademischer Ghostwriter, Lektor, Statistiker, Autor oder Coach? Wir vermitteln Aufträge in verschiedenen wissenschaftlichen Disziplinen und können somit auch von Ihrer Expertise profitieren!</p>
                <p class="lineheight-2">Nutzen Sie unser Anfrageformular, um mit uns Kontakt aufzunehmen. Erzählen Sie uns von Ihren Interessensschwerpunkten und den Fachbereichen, in denen Sie tätig werden wollen.</p>
            </div>
            <div class="text-center">
                <a routerlink="/home" class="btn btn-primary">Jetzt anfragen <span class="btnairro">&#x2192;</span></a>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12">
            <div class="mb-4">
                <h4 class="fontweight-bold mb-4">Diese Vorteile erwarten Sie bei uns</h4>
                <ul class="list-type-num lineheight-2 mb-4">
                    <li class="mb-2">
                        <span class="fontweight-medium">Unabhängigkeit und flexible Arbeitszeiten:</span> Als freiberuflicher Ghostwriter ist es Ihnen zu 100% selbst überlassen wie, wann und wo Sie arbeiten.
                    </li>
                    <li class="mb-2">
                        <span class="fontweight-medium">Überdurchschnittliche Honorare:</span> Gute Arbeit muss fair bezahlt werden. Aus dem Grund ist es uns ein wichtiges Anliegen Honorare auszuzahlen, die sich von den üblichen Honoraren in der Ghostwriter-Branche abheben.
                    </li>
                    <li class="mb-2"><span class="fontweight-medium">Persönliche Weiterentwicklung:</span> Setzen Sie sich mit neuen wissenschaftlichen Themen auseinander und erweitern Sie Ihre intellektuellen Fertigkeiten. Wir garantieren Ihnen, dass Sie ein hohes Maß an Abwechslung erfahren werden und somit nicht den Spaß am Lernen verlieren!</li>
                </ul>  
                <p class="lineheight-2">
                    Im Rahmen unserer Zusammenarbeit steht es Ihnen frei sich für Projekte zu bewerben oder diese zu ignorieren. In jedem Fall werden Sie von uns über jedes freie Projekt benachrichtigt. So können Sie selbst bestimmen, wie hoch Ihr Arbeitspensum ausfallen soll. Mit dieser flexiblen Art der Zusammenarbeit haben wir die besten Erfahrungen gemacht.
                </p>  
            </div>
           
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4 class="fontweight-bold mb-4">Kontaktformular</h4>
            <form class="customeform-section">
                
                <div class="form-group">
                    <label>Vorname (Pflichtfeld)</label>
                    <input type="text" class="form-control form-control-lg">
                </div>
                <div class="form-group">
                    <label>Nachname (Pflichtfeld)</label>
                    <input type="text" class="form-control form-control-lg">
                </div>
                <div class="form-group">
                    <label>E-Mail-Adresse (Pflichtfeld)</label>
                    <input type="text" class="form-control form-control-lg">
                </div>
                <div class="form-group">
                    <label>Telefonnummer (Pflichtfeld)</label>
                    <input type="text" class="form-control form-control-lg">
                </div>
                <div class="form-group">
                    <label>Qualifikation (Pflichtfeld)</label>
                    <select class="form-control form-control-lg">
                      <option>---</option>
                      <option>Student</option>
                      <option>Bachelor</option>
                      <option>Master</option>
                      <option>Diplom</option>
                      <option>Magister</option>
                      <option>Promotion</option>
                      <option>Andere</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>In welchen Sprachen können Sie wissenschaftliche Arbeiten verfassen?</label>
                    <input type="text" class="form-control form-control-lg">
                </div>

                <div class="form-group">
                  <label>Thema der Arbeit und weitere Informationen - umso präziser Ihre Informationen, desto besser können wir Ihnen ein Angebot unterbreiten! (Pflichtfeld)</label>
                  <textarea class="form-control" rows="6"></textarea>
                </div>

                <div class="form-group">
                    <label>Weitere Informationen</label>
                    <input type="text" class="form-control form-control-lg">
                </div>

                <div class="form-group d-none">
                    <label class="fontweight-bold">Datei-Anhang (max. 4 Dateien)</label>
                    <div class="mb-2"><input type="file" class="form-control-file d-inline-block controlfile"></div>
                    <div class="mb-2"><input type="file" class="form-control-file d-inline-block controlfile"></div>
                    <div class="mb-2"><input type="file" class="form-control-file d-inline-block controlfile"></div>
                    <div class="mb-2"><input type="file" class="form-control-file d-inline-block controlfile"></div>
                </div>
                  
                <div class="pt-3">
                    <button type="submit" class="btn btn-primary text-uppercase">senden</button>
                </div>
                
            </form>
        </div>
    </div>
</section>