.banner{
    background: url('../../assets/images/inner_banner.png') center center no-repeat;
    background-size: cover;
    padding: 130px 0;
    position: relative;

    h1{
        position: relative;
        z-index: 3;
    }

    &::after{
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        left: 0;
        top:0;
        height: 100%;
        width: 100%;
        background: rgba(75, 129, 214, .5);
    }
}

