

<section class="container pt-5 pb-5">
    
    <div class="row pt-md-3">
        <div class="col-md-8 offset-md-2">
            <div class="text-center pb-4">
                <h1 class="first-caps pb-4">Become An author</h1>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">

            <div class="bg-white shadow rounded px-4 py-5">
                <h4 class="fontweight-bold mb-4">Kontaktformular</h4>

                <form class="customeform-section" name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <input type="text" placeholder="First name" name="firstName" class="form-control form-control-lg" [(ngModel)]="model.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required>
                            <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                                <div *ngIf="firstName.errors.required">Fild is required</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                          <input type="text" placeholder="Last name" name="lastName" class="form-control" [(ngModel)]="model.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required>
                          <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
                              <div *ngIf="lastName.errors.required">Fild is required</div>
                          </div>
                        </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <input type="email" placeholder="Email address" name="email" class="form-control" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email>
                        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                            <div *ngIf="email.errors.required">Email is required</div>
                            <div *ngIf="email.errors.email">Email must be a valid email address</div>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <input type="text" placeholder="Phone" name="phone" class="form-control" [(ngModel)]="model.phone" #phone="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }" required>
                        <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
                            <div *ngIf="phone.errors.required">Fild is required</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <select class="form-control form-control-lg">
                                <option >Subject area</option>
                                <option>option1</option>
                                <option>option2</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <select class="form-control form-control-lg">
                                <option selected>Preferred language</option>
                                <option>En</option>
                                <option>De</option>
                            </select>
                        </div>
                    </div>
                
                    <div class="form-group">
                        <select name="qualification" class="form-control form-control-lg" [(ngModel)]="model.qualification" #qualification="ngModel" [ngClass]="{ 'is-invalid': f.submitted && qualification.invalid }" required class="form-control form-control-lg">
                            <option>Qualification</option>
                            <option>Student</option>
                            <option>Bachelor</option>
                            <option>Master</option>
                            <option>Diplom</option>
                            <option>Magister</option>
                            <option>Promotion</option>
                            <option>Andere</option>
                            </select>
                            <div *ngIf="f.submitted && qualification.invalid" class="invalid-feedback">
                                <div *ngIf="qualification.errors.required">Fild is required</div>
                            </div>
                    </div>


                    <div class="form-group">
                        <input type="file" ngf [(file)]="file" class="fileUpload1">
                        <!-- <label class="filelabel py-2">
                            <i class="fa fa-paperclip">
                            </i>
                            <input type="file" ngf [(file)]="file" class="fileUpload1">
                        </label> -->
                    </div>

                    <div class="form-group">
                        <textarea rows="4" name="subject" class="form-control" [(ngModel)]="model.subject" #subject="ngModel" [ngClass]="{ 'is-invalid': f.submitted && subject.invalid }" required></textarea>
                        <div *ngIf="f.submitted && subject.invalid" class="invalid-feedback">
                            <div *ngIf="subject.errors.required">Fild is required</div>
                        </div>
                    </div>
                    
                    <div class="text-center">
                        <button class="btn btn-primary">Next</button>
                    </div>
                  </form>

               

            </div>
        </div>
    </div>
</section>