<section class="container py-5">
    <h3 class="text-capitalize fontweight-medium mb-4">{{privacyContent?.dataprotection[0]?.heading}}</h3>
    <div class="mb-5" [innerHtml]="privacyContent?.dataprotection[0]?.description">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.definations[0]?.description">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.nameAndAddressOfThePerson[0]?.desc">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.cookies[0]?.desc">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.collectionOfGeneralData[0]?.description">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.regestrationofourwebsite[0]?.description">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.contactOptionViaWebsite[0]?.description">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.routineDeletion[0]?.description">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.rightOfDataSubject[0]?.description">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.dataProtectionInApplication[0]?.desc">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.dataProtectionProvision[0]?.desc">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.paymentMethod[0]?.desc">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.legalBasis[0]?.desc">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.legtimateInterestInProcess[0]?.desc">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.durationForWhichPersonalData[0]?.desc">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.legalOrContractualProvision[0]?.desc">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.existenceOfAutomated?.en[0]?.desc">
    </div>
</section>
<section class="container py-5" *ngIf="lang === 'de'">
    <h3 class="text-capitalize fontweight-medium mb-4">{{privacyContent?.dataprotection?.de[0]?.heading}}</h3>
    <div class="mb-5" [innerHtml]="privacyContent?.dataprotection?.de[0]?.description">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.definations?.de[0]?.description">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.nameAndAddressOfThePerson?.de[0]?.desc">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.cookies?.de[0]?.desc">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.collectionOfGeneralData?.de[0]?.description">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.regestrationofourwebsite?.de[0]?.description">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.contactOptionViaWebsite?.de[0]?.description">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.routineDeletion?.de[0]?.description">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.rightOfDataSubject?.de[0]?.description">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.dataProtectionInApplication?.de[0]?.desc">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.dataProtectionProvision?.de[0]?.desc">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.paymentMethod?.de[0]?.desc">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.legalBasis?.de[0]?.desc">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.legtimateInterestInProcess?.de[0]?.desc">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.durationForWhichPersonalData?.de[0]?.desc">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.legalOrContractualProvision?.de[0]?.desc">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.existenceOfAutomated?.de[0]?.desc">
    </div>
</section>