<section class="container py-5">
    <h3 class="text-capitalize fontweight-medium mb-4">{{privacyContent?.dataprotection?.en[0]?.heading}}</h3>
    <div class="mb-5" [innerHtml]="privacyContent?.dataprotection?.en[0]?.description">
    </div>
    <div class="mb-5" [innerHtml]="privacyContent?.definations?.en[0]?.description">
    </div>

    <div class="mb-5" [innerHtml]="privacyContent?.nameAndAddressOfThePerson?.en[0]?.desc">
    </div>

    <div class="mb-5" [innerHtml]="privacyContent?.cookies?.en[0]?.desc">
    </div>

    <div class="mb-5" [innerHtml]="privacyContent?.collectionOfGeneralData?.en[0]?.description">
    </div>

    <div class="mb-5" [innerHtml]="privacyContent?.regestrationofourwebsite?.en[0]?.description">
    </div>

    <div class="mb-5" [innerHtml]="privacyContent?.contactOptionViaWebsite?.en[0]?.description">
    </div>

    <div class="mb-5" [innerHtml]="privacyContent?.routineDeletion?.en[0]?.description">
    </div>

    <div class="mb-5" [innerHtml]="privacyContent?.rightOfDataSubject?.en[0]?.description">
    </div>

    <div class="mb-5" [innerHtml]="privacyContent?.dataProtectionInApplication?.en[0]?.desc">
    </div>

    <div class="mb-5" [innerHtml]="privacyContent?.dataProtectionProvision?.en[0]?.desc">
    </div>


    <div class="mb-5" [innerHtml]="privacyContent?.paymentMethod?.en[0]?.desc">
    </div>

    <div class="mb-5" [innerHtml]="privacyContent?.legalBasis?.en[0]?.desc">
    </div>

    <div class="mb-5" [innerHtml]="privacyContent?.legtimateInterestInProcess?.en[0]?.desc">
    </div>

    <div class="mb-5" [innerHtml]="privacyContent?.durationForWhichPersonalData?.en[0]?.desc">
    </div>


    <div class="mb-5" [innerHtml]="privacyContent?.legalOrContractualProvision?.en[0]?.desc">
    </div>

    <div class="mb-5" [innerHtml]="privacyContent?.existenceOfAutomated?.en[0]?.desc">
    </div>



</section>