/* You can add global styles to this file, and also import other style files */

$laptop:1600px;

$mediumDevice:991px;

$smallDevice:767px;

$extraSmall:575px;

@import "./assets/style/theme.scss";
@import "./assets/style/typography.scss";
@import "./assets/style/button.scss";
@import "./assets/style/form.scss";


body{
    font-family: 'Open Sans', sans-serif;
    // counter-reset: my-sec-counter;
}

a{
    color:var(--blue-1);
}
.text-primary{
    color: var(--blue-1) !important;
}

.bg-primary{
    background: var(--bg-blue-1) !important;
}

.list-type-num{
    list-style-type: decimal;
}
.infotext{
    font-size: 100%;
    display: inline-block;
    position: relative;
    margin-left: -80px;
    @media(max-width:$extraSmall){
        margin-left: 0px;
    }
}
.num{
    font-size: 100%;
    font-size: 140px;
    color:rgba(51, 51, 51, .1);
    line-height: 1;
    font-weight: 600;
    @media(max-width:$extraSmall){
        font-size: 50px;
    }
}

.info-ahape3{
    p{
        color: var(--white);
    }
}
