<div *ngIf="loading">
    <section class="banner pt-5 mb-5">
        <div class="banner-inner">
          <div class="container plusicon">
            <div class="row">
              <div class="col-lg-6 align-self-center pb-lg-5">
                <div class="banner-info">
                  <h1 class="mb-4 fontweight-medium">
                    {{ homeContent?.banner?.en[0].bannerHeading }}
                  </h1>
                  <h3 class="mb-4 text-primary">
                    {{ homeContent?.banner?.en[0].bannerSubHeading }}
                  </h3>
                  <p class="mb-4">
                    {{ homeContent?.banner?.en[0].bannerDescription }}
                  </p>
      
                  <a href="#" class="btn btn-primary"
                    >{{ homeContent?.banner?.en[0].bannerBtnTitle }}
                  </a
                  >
                </div>
              </div>
              <div class="col-lg-6">
                <div class="pl-md-5">
                  <!-- <img
                    src="{{
                      'https://squidex.it-blue.net/api/assets/medicrates/' +
                        homeContent?.banner?.en[0].bannerImage[0]
                    }}"
                    alt="academic ghostwriters"
                    class="img-fluid"
                  /> -->
                  <img
                    src="assets/images/banner.png"
                    alt="academic ghostwriters"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
      
      <!-- <section class="container py-5">
        <div class="row py-5">
          <div class="col-md-6">
            <div class="pt-5">
              <h2 class="heading-top-text text-uppercase text-primary mb-4">
                {{ homeContent?.projectExpert?.en[0].heading }}
              </h2>
              <p class="lineheight-2">
                {{ homeContent?.projectExpert?.en[0].description }}
              </p>
            </div>
          </div>
          <div class="col-md-6 text-center align-self-center">
            <img
              src="{{
                'https://squidex.it-blue.net/api/assets/medicrates/' +
                  homeContent?.projectExpert?.en[0].image[0]
              }}"
              alt="project"
              class="img-fluid"
            />
          </div>
        </div>
      </section> -->
      
      <section class="services-section mb-4">
        <div class="container py-5"> 
          <h2 class="text-center text-primary mb-4">{{homeContent?.ourServiceHeading.en}}</h2>
          <div class="row pt-2">
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0" *ngFor="let item of homeContent?.services.en">
              <div class="services-card px-3 pt-4 pb-3">
              <span class="services-icon1"><img [src]="'https://squidex.it-blue.net/api/assets/medicrates/'+item.image[0]" alt="Content Icon"></span>
                <h6 class="mb-3">{{item.heading}}</h6>
                <p>{{item.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="customer-section">
        <div class="container">
          <h2 class="text-center text-primary mb-4 pb-2">{{homeContent?.whyUs.en}}</h2>

          <div class="row mb-5" *ngFor="let item of homeContent?.whyUsList.en; let i=index">
            <div class="col-md-6" [ngClass]="{'order-md-2': i%2 === 0}">
              <div class="customer-card-info pt-4">
                <div class="title-row mb-4">{{item.heading}}</div>
                <h2 class="mb-4">{{item.subHeading}}</h2>
                <p>
                  {{item.description}}
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="customer-card border-shape1">
                <img [src]="'https://squidex.it-blue.net/api/assets/medicrates/'+item.image[0]" alt="Customer Image" class="img-fluid">
              </div>
            </div>
          </div>

         
        </div>
      </section>
      
      <section class="goals-section py-5 mb-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">
              <h2 class="text-white mb-4">{{homeContent?.fullThrotleContent.en[0].heading}}</h2>
              <p class="text-white mb-0">{{homeContent?.fullThrotleContent.en[0].desc}}</p>
            </div>
            <div class="col-md-6 text-center align-self-center">
              <a routerLink="/inquire" class="btn des-btn des-white-btn">{{homeContent?.fullThrotleContent.en[0].btnTitle}}</a>
            </div>
          </div>
        </div>
      </section>

      <section class="work-section pt-4 mb-5">
        <div class="container">
          <h2 class="mb-5 pb-md-4 text-center pt-md-1">{{homeContent?.howItWorksHeading.en}}</h2>

          <ul class="workrow d-flex flex-wrap list-unstyled pt-md-2">
            <li>
              <small></small>
              <div>
                 <img [src]="'https://squidex.it-blue.net/api/assets/medicrates/'+homeContent?.howItWorksContent?.en[0]?.firstParagraphImage[0]" alt="Inquiry" class="img-fluid">
              </div>
            </li>
            <li>
              <small></small>
              <div class="work-item-info" [innerHtml]="homeContent?.howItWorksContent?.en[0]?.firstParagraph">
              </div>
            </li>
            
            <li>
              <small></small>
              <div class="work-item-info" [innerHtml]="homeContent?.howItWorksContent?.en[0]?.secondParaLeftContent">
                <!-- <h5><span>Receive an offer</span></h5>
                <p>As soon as we have received your request, you will receive our offer by email within a few hours.</p> -->
              </div>
            </li>
            <li>
              <small></small>
              <div class="work-info info-ahape-light">
                <div class="info-ahape1">
                  <div class="info-ahape2">
                    <div class="info-ahape3" [innerHtml]="homeContent?.howItWorksContent?.en[0]?.secondParaRightContent">
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <small></small>

              <div><img [src]="'https://squidex.it-blue.net/api/assets/medicrates/'+homeContent?.howItWorksContent?.en[0]?.thirdParaLeftImage[0]" alt="Order" class="img-fluid"></div>
            </li>
            <li>
              <small></small>
              <div class="work-item-info" [innerHtml]="homeContent?.howItWorksContent?.en[0]?.thirdParaRightContent">
                <!-- <h5><span>Place order</span></h5>
                <p>Are you satisfied with the offer? Then give us the final go!</p> -->
              </div>
            </li>

            <li>
              <small></small>
              <div class="work-item-info" [innerHtml]="homeContent?.howItWorksContent?.en[0]?.fourthParaleftContent">
                <!-- <h5><span>Final delivery</span></h5>
                <p>Get your finished work at the agreed time. This also includes express deliveries within 24 hours!</p> -->
              </div>
            </li>
            <li>
              <div class="work-info info-ahape-dark">
                <div class="info-ahape1">
                  <div class="info-ahape2">
                    <div class="info-ahape3" [innerHtml]="homeContent?.howItWorksContent?.en[0]?.fourthParaRightContent">
                      <!-- <span class="d-block">Hi, Bob,</span>
                      <span class="d-block">We have emailed you the contect you requestd. Please review and let us know if this is fine.</span> -->
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>

         
        </div>
      </section>

    <section class="asked-section">
      <div class="container mb-5 pb-md-2 pt-md-5">
        <h2 class="text-center pb-4">{{homeContent?.faqHeading.en}}</h2>
        <div class="accordion indicator-plus-before round-indicator" id="accordionH">
          <div class="card m-b-0 border-0">
            <div class="mb-4" *ngFor="let item of homeContent?.faqContent.en; let i = index">
              <div
                class="card-header collapsed"
                role="tab"
                [id]="'heading'+i"
                [attr.href]="'#collapse'+i"
                data-toggle="collapse"
                [data-parent]="'#accordion'+i"
                aria-expanded="false"
                [aria-controls]="'collapse'+i"
              >
                <a class="card-title">{{item.heading}}</a>
              </div>
              <div
                class="collapse"
                [id]="'collapse'+i"
                role="tabpanel"
                [aria-labelledby]="'heading'+i"
              >
                <div class="card-body">
                  {{item.description}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> 
</div>
<div *ngIf="!loading">
  <app-preloader></app-preloader>
</div>