<section class="banner pt-5">
    <div class="banner-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center pb-lg-5">
                    <div class="banner-info">
                        <h1 class="mb-4 fontweight-medium">Mit akademischen Ghostwritern zum Erfolg.</h1>
                        <h3 class="mb-4 text-primary">Diskret. Zuverlässig. Kompetent.</h3>
                        <p class="mb-4">
                            Unsere Experten im Bereich der Wirtschaftswissenschaften (BWL & VWL sowie vergleichbar) unterstützen Sie bei ihrem akademischen Projekt. Mit der Hilfe unserer Ghostwriter kommen Sie entspannt Ihrem Abschluss näher!
                        </p>

                        <a href="#" class="btn btn-primary">Jetzt anfragen</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="pl-md-5">
                        <img src="assets/images/banner.png" alt="academic ghostwriters" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container py-5">
    <div class="row py-5">
        <div class="col-md-6">
            <div class="pt-5">
                <h2 class="heading-top-text text-uppercase mb-4 lineheight-12">IHre Experten für jedes Projekt</h2>
                <p class="lineheight-2">
                    Projektpräsentationen, Abgabefristen und Klausurtermine. Jeder Student kennt diese Stressfaktoren nur zu gut. Wenn innerhalb weniger Wochen mehrere Klausuren und Hausarbeiten anstehen, dann leidet nicht nur die Arbeitsmoral, sondern es kann auch die Nerven kosten. 
                </p>
            </div>
        </div>
        <div class="col-md-6 text-center align-self-center">
            <img src="assets/images/ex_project.jpg" alt="project" class="img-fluid">
        </div>
    </div>
</section>


<section class="customers-sec">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-md-6 order-md-1 mb-4 mb-md-0">
                <div class="pt-5">
                    <h2 class="heading-top-text text-uppercase mb-4 lineheight-12">
                        Wir verstehen unsere kunden</h2>
                    <p class="lineheight-2">
                        Wer kümmert sich um die Abschlussarbeit, wenn man krank wird und ausfällt? Woher nimmt man sich die Zeit, um Verpflichtungen außerhalb der Universität nachzugehen? Wer hilft, wenn alles zu viel wird oder die Motivation fehlt? Mit Problemen dieser Art setzen sich Studenten tagtäglich auseinander.  
                    </p>
                </div>
            </div>
            <div class="col-md-6 text-center align-self-center">
                <img src="assets/images/customer.jpg" alt="customer" class="img-fluid elementor-image">
            </div>
        </div>
    </div>
</section>

<section class="container py-5">
    <div class="row py-5">
        <div class="col-md-6">
            <div class="pt-5">
                <h2 class="heading-top-text text-uppercase mb-4 lineheight-12">Weniger Stress im Studium</h2>
                <p class="lineheight-2">
                    Dabei muss ein Studium kein Stressfaktor sein. Mit einer helfenden Hand, die aufwendige Arbeiten abnimmt und hilfsbereit zur Seite steht, erreicht man schneller und einfacher sein Ziel. Genau dafür steht GhostSolutions als professioneller Dienstleister für akademische Arbeiten. Wir arbeiten mit unseren Kunden zusammen um sie an ihr Ziel zu führen – diskret, zuverlässig und kompetent.
                </p>
            </div>
        </div>
        <div class="col-md-6 text-center align-self-center">
            <img src="assets/images/studies.jpg" alt="studies" class="img-fluid elementor-image">
        </div>
    </div>
</section>



<section class="services py-5">
    <div class="container py-5">
        <h2 class="heading-bottom-text text-uppercase lineheight-12 text-center text-white mb-5">Unsere Leistungen</h2>
        <div class="row pt-3">
            <div class="col-md-6 mb-3">
                <div class="services-col text-center text-white p-3">
                    <h3 class="fontweight-medium mb-4"><a href="#" class="text-white">Ghostwriting</a></h3>
                    <p class="mb-0">Akademisches Ghostwriting umfasst die komplette oder teilweise Anfertigung von wissenschaftlichen Artikeln, Dissertationen, Hausarbeiten, Bachelorarbeiten, Masterarbeiten sowie sonstiger Texte.</p>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="services-col text-center text-white p-3">
                    <h3 class="fontweight-medium mb-4"><a href="#" class="text-white">Plagiatsprüfung</a></h3>
                    <p class="mb-0">Um ungewollte Plagiate zu vermeiden, sollte stets eine Plagiatsprüfung vorgenommen werden. Um stets auf der sicheren Seite zu sein, verwendet GhostSolutions hierfür die modernste Plagiatserkennungssoftware.</p>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="services-col text-center text-white p-3">
                    <h3 class="fontweight-medium mb-4"><a href="#" class="text-white">Korrektorat</a></h3>
                    <p class="mb-0">Das Korrektorat überprüft ihre Arbeit auf Grammatik- und Rechtschreibfehler. Dazu werden auch stilistische Verbesserungen an der Formulierung ihres Textes vorgenommen.</p>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="services-col text-center text-white p-3">
                    <h3 class="fontweight-medium mb-4"><a href="#" class="text-white">Formatierung</a></h3>
                    <p class="mb-0">Viele akademische Texte erfordern eine spezifische Form mit Hinblick auf Layout, Zitationsstil sowie sonstiger Faktoren. Unsere Experten stellen sicher, dass ihre Arbeit mit ihren gewünschten Vorgaben übereinstimmt.</p>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="services-col text-center text-white p-3">
                    <h3 class="fontweight-medium mb-4"><a href="#" class="text-white">Lektorat</a></h3>
                    <p class="mb-0">Das Lektorat verbessert ihre Arbeit nicht nur mit Hinblick auf Grammatik, Rechtschreibung und Sprachstil, sondern es werden auch inhaltliche Verbesserungen vorgenommen, die spezifische Fachkenntnisse erfordern.</p>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="services-col text-center text-white p-3">
                    <h3 class="fontweight-medium mb-4"><a href="#" class="text-white">Übersetzung</a></h3>
                    <p class="mb-0">Wir übernehmen das Übersetzen von Textpassagen oder erstellen direkt Texte in der gewünschten Fremdsprache.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="container py-5">
    <div class="py-5">
        <h2 class="heading-bottom-text text-uppercase lineheight-12 text-center mb-5">Nur bei Ghostsolutions</h2>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card ghost-card border-0">
                <div class="row no-gutters">
                  <div class="col-md-4 col-lg-3 align-self-center">
                    <span class="ghost-icon mx-auto mx-md-0"><i class="fa fa-files-o"></i></span>
                  </div>
                  <div class="col-md-8 col-lg-9">
                    <div class="card-body text-center text-md-left pl-lg-0">
                      <h4 class="card-title text-uppercase fontweight-medium mb-3">Kostenloses Exposé zu ihrer Arbeit</h4>
                      <p>
                        Ein solides Exposé stellt den Beginn ihrer Abschlussarbeit dar. Gerne machen wir ihnen den Start so einfach wie möglich: Geben Sie ihre Arbeit in Auftrag und erhalten Sie das Exposé kostenlos dazu!
                      </p>
                     
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card ghost-card border-0">
                <div class="row no-gutters">
                  <div class="col-md-4 col-lg-3 align-self-center">
                    <span class="ghost-icon mx-auto mx-md-0"><i class="fa fa-calculator"></i></span>
                  </div>
                  <div class="col-md-8 col-lg-9">
                    <div class="card-body text-center text-md-left pl-lg-0">
                      <h4 class="card-title text-uppercase fontweight-medium mb-3">Spezialisierung im Bereich BWL und VWL</h4>
                      <p>
                        Ob Marketing oder Finance: Wirtschaftsthemen sind unsere Kernkompetenz. Hier stellen wir Ihnen Experten mit langjähriger Erfahrung zur Verfügung.
                      </p>
                     
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card ghost-card border-0">
                <div class="row no-gutters">
                  <div class="col-md-4 col-lg-3 align-self-center">
                    <span class="ghost-icon mx-auto mx-md-0"><i class="fa fa-credit-card"></i></span>
                  </div>
                  <div class="col-md-8 col-lg-9">
                    <div class="card-body text-center text-md-left pl-lg-0">
                      <h4 class="card-title text-uppercase fontweight-medium mb-3">
                        Flexible Ratenzahlung</h4>
                      <p>
                        Zahlen Sie ratenweise für jede Teillieferung ihrer Arbeit. Sie können zu jeder Zeit Feedback einfließen lassen um die Arbeit zu ihrer vollsten Zufriedenheit zu gestalten.
                      </p>
                     
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card ghost-card border-0">
                <div class="row no-gutters">
                  <div class="col-md-4 col-lg-3 align-self-center">
                    <span class="ghost-icon mx-auto mx-md-0"><i class="fa fa-address-book"></i></span>
                  </div>
                  <div class="col-md-8 col-lg-9">
                    <div class="card-body text-center text-md-left pl-lg-0">
                      <h4 class="card-title text-uppercase fontweight-medium mb-3">Ghostsolutions Kunden-Portal</h4>
                      <p>
                        Als Kunde erhalten Sie Zugang zum GhostSolutions Kunden-Portal: Laden Sie Dateien für Ihren Autor hoch und nehmen Sie Lieferungen blitzschnell in Empfang.
                      </p>
                     
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>





<section class="ghost-section py-5">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="text-white text-center">
                    <h2 class="text-uppercase fontweight-bold mb-0">GHOSTSOLUTIONS</h2>
                    <h2 class="text-uppercase fontweight-light mb-5">Mit Vollgas zum Ziel!</h2>
                    <p class="mb-5">Nehmen Sie jetzt die Unterstützung unserer Ghostwriter in Anspruch und profitieren Sie von unserem Expertenwissen!</p>
                    <a href="#" class="btn btn-primary">Jetzt anfragen</a>
                </div>
            </div>
        </div>
        
    </div>
</section>


<section class="container py-5">
    <div class="py-5">
        <h2 class="heading-bottom-text text-uppercase lineheight-12 text-center mb-5">So Funktioniert´s</h2>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <div class="social-work text-center">
                <span><i class="fa fa-envelope-o"></i></span>
                <h4 class="text-uppercase fontweight-medium">1. Anfrage Stellen</h4>
                <p class="lineheight-2">Stellen Sie eine unverbindliche Anfrage über unser Anfrageformular.</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <div class="social-work text-center">
                <span><i class="fa fa-comment"></i></span>
                <h4 class="text-uppercase fontweight-medium">2. Angebot erhalten</h4>
                <p class="lineheight-2">Sobald ihre Anfrage bei uns eingegangen ist, erhalten Sie innerhalb weniger Stunden unser Angebot per E-Mail.</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <div class="social-work text-center">
                <span><i class="fa fa-cog"></i></span>
                <h4 class="text-uppercase fontweight-medium">3. Auftrag erteilen</h4>
                <p class="lineheight-2">Sie sind mit dem Angebot zufrieden? Dann geben Sie uns das finale Go!</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <div class="social-work text-center">
                <span><i class="fa fa-file-pdf-o"></i></span>
                <h4 class="text-uppercase fontweight-medium">4. Finale Auslieferung</h4>
                <p class="lineheight-2">Erhalten Sie ihre fertige Arbeit zum vereinbarten Zeitpunkt. Dies umfasst auch Express-Lieferungen innerhalb von 24 Stunden! </p>
            </div>
        </div>
    </div>
</section>


<section class="py-5 bg-primary mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="fontweight-medium text-white">Häufig gestellte Fragen:</h2>
            </div>
        </div>
    </div>
</section>

<div class="container mb-5 pb-md-5">
    <div class="accordion indicator-plus-before round-indicator" id="accordionH">
        <div class="card m-b-0 border-0">
            <div class="mb-4">
                <div class="card-header collapsed" role="tab" id="headingOneH" href="#collapseOneH" data-toggle="collapse" data-parent="#accordionH" aria-expanded="false" aria-controls="collapseOneH">
                    <a class="card-title">Was kosten die angebotenen Dienstleistungen?</a>
                </div>
                <div class="collapse" id="collapseOneH" role="tabpanel" aria-labelledby="headingOneH">
                    <div class="card-body">
                        Unsere Preise im Ghostwriting beginnen bei 85€ pro Seite. Der Gesamtpreis kann jedoch je nach gewünschtem Qualitätsniveau, Bearbeitungsdauer und Fachrichtung von diesem Grundpreis abweichen. 
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <div class="card-header collapsed" role="tab" id="headingTwoH" href="#collapseTwoH" data-toggle="collapse" data-parent="#accordionH" aria-expanded="false" aria-controls="collapseTwoH">
                    <a class="card-title">Wie lange dauert die Bearbeitung?</a>
                </div>
                <div class="collapse" id="collapseTwoH" role="tabpanel" aria-labelledby="headingTwoH">
                    <div class="card-body">
                        Das bestimmen Sie. Sie brauchen ihr akademisches Projekt in 3 Monaten, 2 Wochen oder schon morgen? Wir machen´s möglich.
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <div class="card-header collapsed" role="tab" id="headingThreeH" href="#collapseThreeH" data-toggle="collapse" data-parent="#accordionH" aria-expanded="false" aria-controls="collapseThreeH">
                    <a class="card-title">Wer ist mein Ansprechpartner bei Änderungswünschen oder sonstigen Anmerkungen?</a>
                </div>
                <div class="collapse" id="collapseThreeH" role="tabpanel" aria-labelledby="headingThreeH">
                    <div class="card-body">
                        Sie stehen in direktem Kontakt zu ihrem Autor, indem Sie Dokumente und Feedback in das Kundenportal hochladen können. Für alles weitere steht Ihnen gerne unser Support zur Verfügung! Hierzu wird ihnen ein persönlicher Ansprechpartner zugeteilt, der für die Abwicklung ihres Projekts zuständig ist. 
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <div class="card-header collapsed" role="tab" id="headingFourH" href="#collapseFourH" data-toggle="collapse" data-parent="#accordionH" aria-expanded="false" aria-controls="collapseFourH">
                    <a class="card-title">Kann ich in Raten zahlen? </a>
                </div>
                <div class="collapse" id="collapseFourH" role="tabpanel" aria-labelledby="headingFourH">
                    <div class="card-body">
                        Selbstverständlich. Ihre Zahlung erfolgt grundsätzlich in Raten für jede von ihrem Autor erbrachte Teillieferung. Darüber hinaus bieten wir auch die Erstellung individueller Ratenpläne an. 
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <div class="card-header collapsed" role="tab" id="headingFiveH" href="#collapseFiveH" data-toggle="collapse" data-parent="#accordionH" aria-expanded="false" aria-controls="collapseFiveH">
                    <a class="card-title">Wie werde ich Autor für GhostSolutions?</a>
                </div>
                <div class="collapse" id="collapseFiveH" role="tabpanel" aria-labelledby="headingFiveH">
                    <div class="card-body">
                        Unser Bewerbungsformular finde Sie hier. Wir freuen uns über ihre Bewerbung!
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <div class="card-header collapsed" role="tab" id="headingSixH" href="#collapseSixH" data-toggle="collapse" data-parent="#accordionH" aria-expanded="false" aria-controls="collapseSixH">
                    <a class="card-title">
                        Kann ich die Dienstleistung von der Steuer absetzen?</a>
                </div>
                <div class="collapse" id="collapseSixH" role="tabpanel" aria-labelledby="headingSixH">
                    <div class="card-body">
                        Studienkosten sind generell steuerlich absetzbar. Ihr Steuerberater kann Sie hierzu über ihre Möglichkeiten aufklären. In jedem Fall wird von uns eine ordnungsgemäße Rechnung erstellt, die bei Bedarf als Beleg verwendet werden kann. 
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <div class="card-header collapsed" role="tab" id="headingSixH" href="#collapseSixH" data-toggle="collapse" data-parent="#accordionH" aria-expanded="false" aria-controls="collapseSixH">
                    <a class="card-title">
                        Ist eine anonyme Zahlung möglich?</a>
                </div>
                <div class="collapse" id="collapseSixH" role="tabpanel" aria-labelledby="headingSixH">
                    <div class="card-body">
                        Eine anonyme Zahlung ist zum Beispiel über ein Drittkonto von einem Freund oder einem Verwandten möglich. Unabhängig davon werden Daten von uns mit höchster Sorgfalt behandelt und nur für die notwendigen Schritte der Auftragsabwicklung verwendet. 
                    </div>
                </div>
            </div>
        </div>
    </div>	
</div>



<section class="py-5 bg-primary mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="fontweight-medium text-white">Jetzt unverbindlich anfragen:</h2>
            </div>
        </div>
    </div>
</section>

<div class="container pb-5 mb-md-5">
    <form class="customeform-section">
        
        <div class="form-group">
          <label>Anrede</label>
          <select class="form-control form-control-lg">
            <option>herr</option>
            <option>frau</option>
          </select>
        </div>
        <div class="form-group">
            <label>Vorname (Pflichtfeld)</label>
            <input type="text" class="form-control form-control-lg">
        </div>
        <div class="form-group">
            <label>Nachname (Pflichtfeld)</label>
            <input type="text" class="form-control form-control-lg">
        </div>
        <div class="form-group">
            <label>E-Mail-Adresse (Pflichtfeld)</label>
            <input type="text" class="form-control form-control-lg">
        </div>
        <div class="form-group">
            <label>Telefonnummer (Pflichtfeld)</label>
            <input type="text" class="form-control form-control-lg">
        </div>
        <div class="form-group">
            <label>Leistungsart (Pflichtfeld)</label>
            <select class="form-control form-control-lg">
              <option>---</option>
              <option>Ghostwriting</option>
              <option>Lektorat</option>
              <option>Korrektorat</option>
              <option>Übersetzung</option>
              <option>Formatierung</option>
              <option>Plagiatsprüfung</option>
            </select>
        </div>
        <div class="form-group">
            <label>Akademisches Niveau (Pflichtfeld)</label>
            <select class="form-control form-control-lg">
              <option>---</option>
              <option>Schularbeit</option>
              <option>Hausarbeit</option>
              <option>Seminararbeit</option>
              <option>Bachelorarbeit</option>
              <option>Masterarbeit</option>
              <option>Diplomarbeit</option>
              <option>Dissertation</option>
              <option>Sonstiges</option>
            </select>
        </div>
        <div class="form-group">
            <label>Fachrichtung (Pflichtfeld)</label>
            <select class="form-control form-control-lg">
              <option>---</option>
              <option>Wirtschaftswissenschaften</option>
              <option>Sozialwissenschaften</option>
              <option>Geisteswissenschaften</option>
              <option>Sportwissenschaften</option>
              <option>Jura</option>
              <option>Informatik</option>
              <option>Architektur</option>
              <option>Naturwissenschaften</option>
              <option>Ingenieurwissenschaften</option>
              <option>Medizin</option>
              <option>Mathematik</option>
              <option>Sonstige</option>
            </select>
        </div>
        <div class="form-group">
            <label>Sprache</label>
            <select class="form-control form-control-lg">
              <option>---</option>
              <option>Deutsch</option>
              <option>Englisch</option>
              <option>Sonstige</option>
            </select>
        </div>

        <div class="form-group">
          <label>Thema der Arbeit und weitere Informationen - umso präziser Ihre Informationen, desto besser können wir Ihnen ein Angebot unterbreiten! (Pflichtfeld)</label>
          <textarea class="form-control" rows="10"></textarea>
        </div>

        <div class="form-group">
            <label class="d-block">Thema der Arbeit und weitere Informationen - umso präziser Ihre Informationen, desto besser können wir Ihnen ein Angebot unterbreiten! (Pflichtfeld)</label>
            <div class="form-check form-check-inline">
                <label class="form-check-label mr-1" for="inlineRadio1">ja</label>
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label mr-1" for="inlineRadio2">nein</label>
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">   
            </div>
        </div>

        <div class="form-group">
            <label>Seitenzahl (Pflichtfeld)</label>
            <input type="number" class="form-control form-control-lg inputnumber-width">
        </div>

        <div class="form-group">
            <label>Lieferdatum (Pflichtfeld)</label>
            <input type="text" class="form-control form-control-lg" placeholder="tt.mm.jjjj">
        </div>

        <div class="pt-3">
            <button type="submit" class="btn btn-primary text-uppercase">senden</button>
        </div>
        
      </form>
</div>

