
$laptop:1600px;

$mediumDevice:991px;

$smallDevice:767px;

$extraSmall:575px;


.banner{
    background: transparent linear-gradient(118deg, #FFFFFF 0%, #D5E3FA 100%) 0% 0% no-repeat;

    .banner-inner{
        background: url('../../assets/images/wave.svg'), 
        url('../../assets/images/plus_group.svg'), 
        url('../../assets/images/banner_shape.svg');
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: bottom right, 8% 20px, 85% -100%;
        background-size: contain, 15%, 60%;


        @media(max-width: $laptop){
            background-position: bottom right, -2% 20px, 70% -100%;
        }
    }
    .banner-info{
        h1{
            line-height: 1.3;
        }
        p{
            line-height: 1.9;
        }
    }
}



.services-section{

    background: url('../../assets/images/flw_icon2.svg'),
    url('../../assets/images/plus_group.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 2%, -4% 180px;
    background-size:10%, 19%;
   

    .services-card{
        background: var(--white);
        border-radius: 24px;
        box-shadow: 0px 0px 10px var(--black-3);
        height: 100%;
        span{
            display: block;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 18px;
        }
        .services-icon1{
            background:rgba(255, 199, 195, 0.3);
        }
        .services-icon2{
            background: rgba(75, 129, 214, 0.3);
        }
        .services-icon3{
            background: rgba(85, 221, 253, 0.3);
        }
        .services-icon4{
            background: rgba(247, 189, 44, 0.3);
        }

        &:hover{
            background-color: var(--blue-1);
            p, h6{
                color: var(--white);
            }
            span{
                background: var(--white);
            }
        }
    }

}



.customer-section{
        background: url('../../assets/images/flw_icon.svg'),
         url('../../assets/images/plus_group.svg');
        background-repeat: no-repeat, no-repeat;
        background-position: 95% 18%, 100% 73%;
        background-size:9%, 15%;

    .customer-card{
        position: relative;
        z-index: 2;

        > img{
            box-shadow: 0px 0px 20px var(--black-3);
        }

        &.border-shape1{
            padding: 30px;

            &::before{
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                border-top: 270px solid var(--blue-1);
                border-right: 270px solid transparent;
                position: absolute;
                z-index: -1;
                top:0;
                left: 0;

                @media(max-width: $extraSmall){
                    border-top-width: 200px;
                    border-right-width: 200px;
                }
            }
        } 

        &.border-shape2{
            padding:30px;

            &::before{
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                border-top: 270px solid var(--blue-1);
                border-left: 270px solid transparent;
                position: absolute;
                z-index: -1;
                top:0;
                right: 0;

                @media(max-width: $extraSmall){
                    border-top-width: 200px;
                    border-left-width: 270px;
                }
            }
        } 

    }

    .customer-card-info{
        .title-row{
            position: relative;
            font-size: 16px;
            font-weight: 600;
            color: var(--blue-1);
            border-bottom:2px solid var(--blue-1);
            padding: 0 0 15px 40px;

            &::before{
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                border-top: 24px solid var(--blue-1);
                border-right: 24px solid transparent;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
}


.goals-section{
    background: var(--blue-2);
}

.work-section{
        background: url('../../assets/images/plus_group.svg');
        background-repeat: no-repeat;
        background-position:8% 20px;
        background-size:15%;

        @media(max-width: $laptop){
            background-position: -2% 45%;
        }
    .workrow{

        li{
            position: relative;
            width: 50%;

            > div{
                margin-bottom: 100px;

                @media(max-width: $smallDevice){
                    margin-bottom: 50px;
                }
            }

            > small{
                display: inline-block;
                width: 40px;
                height: 40px;
                background: var(--white);
                border:1px solid rgba(51, 51, 51, .3);
                border-radius: 50%;
                position: absolute;
                z-index: 2;
                right: -21px;
                top:50%;
                margin-top: -70px;
                

                &::after{
                    content: '';
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    background-color: var(--gray-1);
                    left: 50%;
                    top:50%;
                    margin-top: -7px;
                    margin-left: -7px;
                    position: absolute;
                    opacity: .5;
                }

                @media(max-width:$extraSmall){
                    display: none;
                }
            }

            &:first-child{
               > small{
                    margin-top: 0;
                }
            }

            &:nth-last-child(1), &:nth-last-child(2){
                padding-bottom: 0;

                > div{
                    margin-bottom: 0;
                }
                > small{
                    margin-top: 0;
                }
            }

            &:nth-child(odd){
                text-align: right;
                padding-right: 110px;

                @media(max-width: $mediumDevice){
                    padding-right: 50px;
                }
                @media(max-width:$extraSmall){
                    padding-right: 10px;
                }

                &::after{
                    content: '';
                    display: inline-block;
                    width: 2px;
                    background-color:rgba(51, 51, 51, .1);
                    height: 100%;
                    position: absolute;
                    z-index: 1;
                    right: -1px;
                    top:0;


                    @media(max-width:$extraSmall){
                       display: none;
                    }
                }

                &:nth-last-child(2){
                    &::after{
                        height: 50%;
                    }
                }

                &:first-child{
                   > small{
                        top:0;
                    }
                }
            }


            &:nth-child(even){
                padding-left: 110px;

                @media(max-width: $mediumDevice){
                    padding-left: 50px;
                }
                @media(max-width:$extraSmall){
                    padding-left: 10px;
                }

               > small{
                    display: none;
                }
            }

            .work-item-info{

                @media(max-width:$extraSmall){
                    font-size: 14px;
                }
                h5{
                    position: relative;
                    margin-bottom: 0;
                    @media(max-width:$extraSmall){
                        font-size: 14px;
                    }
                    .infotext{
                        font-size: 100% !important;
                        display: inline-block;
                        position: relative;
                        margin-left: -80px;
                        @media(max-width:$extraSmall){
                            margin-left: 0px;
                        }
                    }
                    .num{
                        font-size: 100% !important;
                        font-size: 140px;
                        color:rgba(51, 51, 51, .1);
                        line-height: 1;
                        font-weight: 600;
                       
                        @media(max-width:$extraSmall){
                            font-size: 50px;
                        }
                    }
                }
            }

            .work-info{
                color: var(--white);
                .info-ahape1, .info-ahape2, .info-ahape3{
                    position: relative;
                    border-radius: 0 40px 40px 40px;
                    max-width: 350px;
                    height: 150px;
                    padding-top: 10px;
                    @media(max-width:$smallDevice){
                        height: auto;
                    }

                    @media(max-width:$extraSmall){
                        font-size: 14px;
                        overflow: hidden;
                    }

                    &::after{
                        content: ' ';
                        display: block;
                        position: absolute;
                        z-index: -1;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        right: -20px;
                        border-radius: 0 40px 40px 40px;
                    }
                }
                .info-ahape1{
                    z-index: 1;
                    &::after{
                        right: -30px;
                    }
                }
                .info-ahape2{
                    z-index: 2;
                    &::after{
                        right: -20px;
                    }
                }
                .info-ahape3{
                    z-index: 3;
                    padding: 32px;

                    @media(max-width: $mediumDevice){
                        padding: 24px;
                    }

                  

                    &::after{
                        right: -10px;
                    }
                }

                &.info-ahape-dark{
                    .info-ahape1{
                    &::after{
                        background:rgba(201, 217, 243, 1);
                    }
                    }
                    .info-ahape2{
                        &::after{
                            background: rgba(126, 164, 226, 1);
                        }
                    }
                    .info-ahape3{
                        &::after{
                            background: rgba(75, 129, 214, 1);
                        }
                    }
                }
                &.info-ahape-light{
                    color:var(--gray-1);

                    .info-ahape1{
                    &::after{
                        background:rgba(250, 252, 253, 1);
                    }
                    }
                    .info-ahape2{
                        &::after{
                            background:rgba(244, 247, 251, 1);
                        }
                    }
                    .info-ahape3{
                        &::after{
                            background: rgba(240, 244, 250, 1);
                        }
                    }
                }
                
            }
        }
    }
}



.asked-section{
    background: url('../../assets/images/flw_icon.svg');
    background-repeat: no-repeat;
    background-position:105% 35%;
    background-size:13%;
}

/* accordion styles */
.accordion {
	.card-header {
        cursor: pointer;
        border:0;
        border:3px;

        &:first-child{
            border-radius: calc(.25rem - 1px) calc(.25rem - 1px);
        }

        .card-title{
            text-decoration: none;
            font-size: 21px;
            color:var(--black-2);
            font-weight: 600;
        }
	}

	&.indicator-plus-before {
		&.round-indicator {
			.card-header {
				&:before {
					font-family: 'FontAwesome';  
					font-size: 14px;
                    content:"\f068";
                    margin-right: 10px;
                    margin-top: 7px;
                    color:var(--black-2);
				}
				&.collapsed {
					&:before {
                        content:"\f067";
					}
				}
			}			
		}
		.card-header {
			&:before {
				font-family: 'FontAwesome';  
				content: "\f068";
				float: left; 
			}
			&.collapsed {
				&:before {
					content: "\f067"; 
				}
			}
		}
	}	
	
	&.indicator-chevron {
		.card-header {
			&:after {
				font-family: 'FontAwesome';  
				content: "\f078";
				float: right; 
			}
			&.collapsed {
				&:after {
					content: "\f077"; 
				}
			}
		}
	}	
	
	&.background-none {
		[class^="card"] {
			background: transparent;
		}
	}
	
	&.border-0 {
		.card {
			border: 0;
		}	
    } 
    .card-body{
        line-height: 1.7;
        color:var(--gray-1);
        border:1px solid rgba(0,0,0,.03);
    }
}


.common-para {
    font-weight: 400!important;
    font-size: 14px!important;
    color: #777!important;
    margin-bottom: 10px!important;
    padding-top: 10px!important;
    font-family: Lato, sans-serif!important;
    letter-spacing: .35px!important;
}

.text-justify {
    text-align: justify !important;
}

